$primary = #0052cc

// only enable on Retina displays
@media screen and (min-resolution 2dppx)
  html
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

*
*::before
*::after
  box-sizing border-box

:root
  --docsearch-primary-color $primary !important
  --docsearch-searchbox-shadow inset 0 0 0 2px $primary !important

html
  font-weight 400
  color #333
  scroll-behavior smooth
  scroll-padding-top 120px

button
input
  font inherit
  color inherit

a
  -webkit-tap-highlight-color transparent

  &:focus
    outline none

main
  line-height 1.5

.DocSearch-Container
  backdrop-filter blur(4px)

.veui-icon
  fill currentColor

.VueLive-error
  display none
