<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>VEUI Playground</title>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      position: relative;
      width: 100vw;
      height: 100vh;
      margin: 0;
      background-color: #040404;
    }
    .loading {
      position: absolute;
      top: 38.4%;
      left: 50%;
      transform: translate(-50%, -38.4%);
      height: 48px;
      font-weight: 400;
      color: #fff;
    }
  </style>
</head>
<body>
  {{loading}}
</body>
</html>
